:root{
  /* --main-green-color: #13C1AC; */
  --main-green-color: #357960;
  --main-background-color: #efeded;
  --header-height: 60px;
  --footer-height: 50px;
}
.App {
  text-align: center;
  min-height: 100vh;
  min-width:250px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', 'Quicksand', 'Inter', sans-serif  ;
}
.body-page{
  min-height: 100vh;
  /* border: 1px solid black; */
}
.body-content-background{
  min-height: calc(100vh - var(--header-height) - var(--footer-height) );
  width: 100%;
  background-color: rgba(230, 225, 225, 0.801);
  padding-top: 25px;
  padding-bottom: 25px;
}
.body-frame {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  gap: 30px;
}
.body-header-container {
  margin-top: auto;
  position: sticky;
  top:0;
  z-index: 1;
}
.body-footer-container{
  margin-top: auto;
  position: sticky;
  bottom:-1px;
}
.body-frame-padding {
  margin-top: 20px;
  background-color: white;
  padding:20px;
  border-radius: 10px;
}
h3 {
  text-align: left;
  padding-left: 3vw;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(193, 189, 189);
}