// change the theme of Bootstrap components
$theme-colors: (
  'primary': #357960,
  'danger': #ff4136,
  'info': #357960,
);

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

:root {
  /* --main-green-color: #13C1AC; */
  --main-green-color: #357960;
  --main-background-color: #efeded;
  --main-gray: rgb(136, 136, 136);
  --header-height: 60px;
  --footer-height: 60px;
}

html,
body,
#root,
.App {
  height: 100%;
  box-sizing: border-box;
  background-color: var(--main-background-color);
}

.App {
  text-align: center;
  min-width: 250px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;

  font-family: 'Montserrat', 'Quicksand', sans-serif  ;

  h3 {
    text-align: left;
    padding-left: 3vw;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(193, 189, 189);
  }
}
