:root{
  --main-green-color: #13C1AC;
  --header-height: 60px;
  --footer-height: 50px;
  --main-font:‘Inter’, sans-serif;
}
.App {
  text-align: center;
  min-height: 100vh;
  min-width:250px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-family: 'Inter', 'Quicksand', 'Raleway', sans-serif  ;
}
.body-page{
  min-height: 100vh;
  /* border: 1px solid black; */
}
.body-content-background{
  min-height: calc(100vh - var(--header-height) - var(--footer-height) );
}
.body-footer-container{
  margin-top: auto;
  position: sticky;
  bottom:-1px;
}