.ChatView{
  height: 100%; 
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  padding: 60px 0;

  .messages {
    flex-grow: 1;
  }

  .messageInput {
    display: flex;
    align-items: center; 
    width: 100%;

    .InputField {
      flex-grow: 1;
    }
  }
}