.chat-element {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  overflow-y: scroll;
}
.image-preview {
  border-radius: 10%;
  max-height: 6rem;
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  width: 100%;
}

.top-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: smaller;
  color: gray;
}

.listing-title {
  font-weight: bold;
  font-size: large;
}
