.ChatsView {
  padding: 16px;

  .chatElement {
    display: flex;
    padding: 16px;
    align-items: center;
    overflow-y: scroll;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 16px;

    .imagePreview {
      border-radius: 20px;
      min-height: 44px;
      min-width: 44px;
      background-position: center;
      background-size: cover;
      margin-right: 16px;
    }

    .infoContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      flex-grow: 1;
      * {
        margin-bottom: 0;
      }

      .topInfo {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 12px;
        color: var(--main-gray);
      }

      .listingTitle {
        font-weight: 900;
        font-size: 18px;
      }

      .lastMessage {
        font-size: 12px;
        color: var(--main-gray);
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        -webkit-box-orient: vertical;
        text-align: left;
      }
    }
  }
}
