.ratingModalWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stars {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 15px;
}

.Chat {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: inherit;
  padding-top: 60px;

  .ratingButton {
    position: fixed;
    top: 75px;
    left: 15px;
    right: 15px;
    background-color: var(--main-green-color);
    color: white;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.33);
  }

  .messages {
    flex-grow: 1;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 75px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;

    .messageWrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .message {
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        padding-left: 1rem;
        padding-right: 1rem;
        min-width: 2rem;
        max-width: 15rem;
        width: max-content;
        border-radius: 15px;
        background-color: var(--main-green-color);
        margin-top: 1rem;
        color: white;
        text-align: left;

        &.selfMessage {
          background-color: rgb(22, 206, 22);
          margin-left: auto;
          text-align: right;
        }
      }
      .timeStamp {
        padding-left: 5px;
        padding-right: 5px;
        font-size: smaller;
        padding-left: 1rem;
        margin-top: 0.2rem;

        &.selfTimeStamp {
          margin-left: auto;
        }
      }
    }
  }

  .messageInput {
    padding: 10px;
    background-color: var(--main-background-color);
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0; // background-color: green;
    .InputField {
      width: 100%;
      border-radius: 15px;
      padding: 0rem;
      margin: 0;
    }

    button {
      margin-left: 10px;
      color: white;
      background-color: rgb(19, 168, 255);
      padding: 10px;
      border-radius: 30px;
      line-height: normal;
      border: none;
    }
  }
}
