@import '../App.scss';

.Footer {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;

  // min-height: var(--footer-height);
  background-color: var(--main-green-color);
  padding: 8px 4vw;

  font-size: 25px;
  box-shadow: 0px 0px 8px 0.5px rgba(8, 1, 1, 0.199);

  @include lg {
    background-color: transparent;
    bottom: auto;
    top: 60px;
    width: 160px;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 0px;
    box-shadow: none;
    margin-left: 16px;
    button {
      padding: 10px;
      display: flex;
      gap: 15px;
    }
  }
}
.log-out-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  &.hide-div {
    display: none;
  }
}
