.HomeView {
  padding-top: 15px;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px auto var(--footer-height) auto;
  gap: 15px;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));

  &.without-user {
    min-height: calc(100vh - var(--header-height));
    margin: 0px auto 0 auto;
  }
  .global-search-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    .search-buttons-group {
      width: 90%;
      display: flex;
      justify-content: space-between;
      gap: 15px;

      .search-btn {
        text-decoration: none;
        background-color: white;
        border: none;
        padding: 8px 20px;
        border-radius: 20px;
        text-overflow: ellipsis;
        white-space: nowrap;
        height: 40px;
        width: min-content;
        max-width: 60%;
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.23);
        display: flex;
        justify-content: start;
        gap: 10px;
        font-weight: 500;
        color: black;

        span {
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }

    .search-bar-container {
      display: flex;
      width: 90%;
      border-radius: 24px;
      background-color: white;
      padding: 8px 15px;
      box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.23);

      button {
        border: none;
        background-color: transparent;
        width: 8%;
      }

      i {
        margin-top: 5px;
      }

      input {
        width: 90%;
        border: none;
      }

      input:focus-visible {
        outline: none;
      }
    }
  }
  .map-set-height {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    display: flex;
  }
}
.map-btn-float {
  align-self: flex-end;
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  transition: all 200ms;

  &.with-user {
    bottom: 75px;
  }

  &.with-listing {
    bottom: 130px;
  }

  &.with-user-and-listing {
    bottom: 195px;
  }
}

.hide-content {
  display: none;
}
