.noscroll {
  overflow-x: hidden;
}
.scrollable {
  overflow: unset;
}

.cancelAndConfirmButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.candidatesWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);

  .candidatesCard {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 10%;
    left: 30px;
    right: 30px;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    max-height: 30%;
    overflow-y: scroll;

    .candidate {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 5px;

      p {
        margin: 0;
        margin-left: 10px;
        // align-self: center;
      }

      .check {
        height: 40px;
        width: 40px;
        padding: 10px;
        border-radius: 20px;
        background-color: rgb(0, 212, 0);
        object-fit: cover;
        margin-left: auto;
      }
    }
  }
}

.ListingDetail {
  &.noscroll {
    position: fixed;
    left: 0;
    // top: 50;
    width: 100%;
    // height: 100%;
  }


  display: flex;
  flex-direction: column;
  padding: 50px 15px 15px 15px;
  padding-bottom: 60px;

  .listing-owner-info-wrapper {
    display: flex;
    flex: row;
    justify-content: space-between;
    margin-bottom: 15px;

    .listing-owner-image-wrapper {
      width: 100px;
      height: 100px;
      margin-right: 15px;

      img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .listing-owner-name-buttons-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;

      .listing-owner-name {
        font-weight: 600;
        font-size: 1.5rem;
      }
    }
  }

  .listing-button-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;

    a {
      width: 100%;
    }

    i {
      padding-right: 3px;
    }
  }

  .listing-details-gallery-wrapper {
    background-color: white;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;

    .item-for-sale-img {
      height: 200px;
      width: 200px;
      overflow: hidden;
    }
  }

  .listing-details-data-wrapper {
    text-align: left;
    margin-top: 15px;

    h4 {
      font-weight: 600;
      margin-bottom: 10px;
    }

    .listing-detail-title {
      font-weight: 600;
      color: var(--main-gray);
    }

    .price-favorite-button-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .favorite-heart-button {
        border: none;
        transition: 0.2s;
        position: relative;
        background-color: transparent;

        .display-log-in-message {
          opacity: 1;
        }

        p {
          line-height: 1;
          position: absolute;
          top: 6px;
          left: -104px;
          width: 100px;
          color: rgb(229, 0, 0);
          opacity: 0;
          transition: opacity 0.3s linear;
        }
        i:hover {
          text-shadow: 2px 2px 10px #fd4848;
        }
      }

      h4 {
        font-weight: 600;
        font-size: 2rem;
      }

      i {
        font-size: 1.9rem;
        color: var(--main-gray);
      }
    }

    p {
      width: 100%;
      justify-content: flex-start;
      display: inline-block;
      margin-bottom: 7px;
    }

    span {
      margin-right: 0.5rem;
      font-weight: 600;
      color: var(--main-gray);
    }
  }

  .leaflet-container {
    margin-bottom: 10px;
  }
}
