.ListingPreview {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  flex-grow: 1;
  margin: 5px;
  height: calc(100% - 10px);


  .card-product-image-holder {
    height: 200px;

    img {
      width: 100%;
      max-height: 100%;
      min-height: 200px;
      border-radius: 7px;
      object-fit: cover;
    }
  }

  .card-product-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px 10px 0px 10px;

    .product-info-price {
      align-self: flex-start;
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 2px;
    }

    .product-info-title {
      text-align: left;
      font-weight: bold;
      margin-bottom: 7px;
      line-height: 1.3em;

      &.max-two-lines {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    .product-info-description {
      font-size: 0.8rem;
      color: #607d8b;
      text-align: left;

      &.max-three-lines {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
      }
    }
  }
}
