.Card-Listing-Preview{
  position: fixed;
  bottom: 65px ;
  background-color: white;
  margin-left:4px;
  height: 12%;
  width: calc(100% - 90px);
  max-width:490px;
  color: black;
  border-radius: 10px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &:hover{
    color: black;
  }
  .Preview-Img {
    object-fit: cover;
    min-width: 32%;
    margin: 0;
    padding: 0;
  }

  .Preview-Text-Content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    min-width: 50%;
    padding: 5px;
    padding-left: 10px;
    
    h6 {
      overflow: hidden;
      text-decoration: none;
    }

    .Preview-Price-Listing-Container{
      display: flex;
      justify-content: space-between;
      width: 100%;

      .Preview-Price {
        font-size: 85%;
        font-weight: bold;
      }

      .Preview-Rating {
        display: flex;
        justify-content: space-between;
        // align-self: flex-end;
        // font-size: 85%;
        // font-weight: bold;
        // min-width: 40%;


        .bi-star-fill{
          align-self: flex-end;
          font-size: 80%;
        }
      }
    }
  }
}