.Card-Listing-Preview{
  position: fixed;
  bottom: 10vh ;
  z-index: 5;
  background-color: white;
  height: 80px;
  width: 300px;

  padding: 2px 15px 3px 15px;
  border-radius: 4px;
  transition: 0.3s;

  &:hover{
    box-shadow: 0 0 5px 1px #c3bcbc;
  }

}