.ProfileView {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  
  p {
    padding-left: 13px;
    margin: 0;
    font-weight: bolder;
  }
  
  .profile-about-info-wrapper {
    padding: 13px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .profile-image-wrapper {
      width: 100px;
      height: 100px;
      margin-right: 2px;
      
      img {
         border-radius: 50%;
       }
    }
    
    .profile-basic-info-edit-wrapper {
      padding: 5px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
    
    .profile-info-button-wrapper {
      display: flex;
      flex-direction: column;
    }
    
  }
  
  .profile-favorites-wrapper {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .profile-my-listings-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    background-color: #F4F5F7;
    padding: 7px;
  }
  
  .listing-container {
    width: 50%
  }
}
