.SetProfileView {
  padding-top: 25px;
  padding-bottom: 140px;
  max-width: 500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 60px auto;
  background-color: var(--main-background-color);

  .card {
    border: none;
  }

  p {
    text-align: left;
    margin-bottom: 8px;

    &.comment {
      font-size: 0.9rem;
      color: gray;
      font-style: italic;
    }
  }
}