name: Node.js CI

on:
  pull_request:
    branches: [main, dev]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/
    services:
      postgres:
        image: postgres:12-alpine
        env:
          POSTGRES_USER: ${{secrets.PG_USER}}
          POSTGRES_PASSWORD: ${{secrets.PG_PW}}
          POSTGRES_DB: ${{secrets.PG_DB}}
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: |
          npm ci
          npx prisma db push
          npx jest
        working-directory: ./server
        env:
          DATABASE_URL: ${{secrets.DATABASE_URL}}
          FIREBASE_API_KEY: ${{secrets.FIREBASE_API_KEY}}
          SECRET_UID: ${{secrets.SECRET_UID}}
          FIREBASE_ADMIN_PRIVATE_KEY: ${{secrets.FIREBASE_ADMIN_PRIVATE_KEY}}
          FIREBASE_ADMIN_CLIENT_EMAIL: ${{secrets.FIREBASE_ADMIN_CLIENT_EMAIL}}
          FIREBASE_ADMIN_PROJECT_ID: ${{secrets.FIREBASE_ADMIN_PROJECT_ID}}
      - run: |
          npm ci
          npm test
        working-directory: ./client
